footer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    padding: 1.5rem 0;
}

footer img{
    height: 2rem;
    width: 2rem;
}

@media screen and (max-width: 558px){
    footer{
        font-size: 0.7rem;
    }
}